main {
  flex: 1;
  display: grid;
  place-content: center;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6,
main > p {
  text-align: center;
  color: var(--secondary-color);
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--secondary-color);
  margin-top: 50px;
  gap: 0.5rem;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: var(--secondary-color);
}

.result button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
